<!DOCTYPE html>
<head>
<title>Book Store</title>
<link href="../static/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="{{ url_for('transfer')}}" class="current">Home</a></li>
            <li><a href="subpage.html">Search</a></li>
            <li><a href="subpage.html">Books</a></li>            
            <li><a href="subpage.html">New Releases</a></li>  
            <li><a href="#">Company</a></li> 
            <li><a href="#">Contact</a></li>
            <li><a href="{{url_for('mybooks')}}">MyBooks</a></li> 
            
    	</ul>
    </div> 
    
    <!-- <div id="templatemo_header">
    	<div id="templatemo_special_offers">
        	<p>
                <span>25%</span> discounts for
        purchase over $80
        	</p>
			<a href="subpage.html" style="margin-left: 50px;">Read more...</a>
        </div>
        
        
        <div id="templatemo_new_books">
        	<ul>
                <li>Suspen disse</li>
                <li>Maece nas metus</li>
                <li>In sed risus ac feli</li>
            </ul>
            <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
        </div>
    </div> <-- end of header -->
     
    <div id="templatemo_content">
    	
        <div id="templatemo_content_left">
        	
			<div class="templatemo_content_left_section">
                <form action="{{url_for('search')}}" method="post">
                    <input id="title" name="tit" placeholder="Title">
                    <button id="button" type="submit">Click Me</button>
                </form>
            
                
            </div>
          
            <div class="templatemo_content_left_section">                
               </div>
        </div> <!-- end of content left -->
        
        <div id="templatemo_content_right">
            {% for j in range(0,4,2) %}
                <h2>{{sub[0]}} Books</h2>

        	<div class="templatemo_product_box">
            	<h1>{{title[j]}}</h1>
         	      <img src="{{imglink[j]}}" alt="image" />
                <div class="product_info">
                	<p>{{title[j]}}</p>
                  <h3>{{descr[j]}}</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                    <h1>{{title[j+1]}}</h1>
                       <img src="{{imglink[j+1]}}" alt="image" />
                    <div class="product_info">
                        <p>{{title[j+1]}}</p>
                      <h3>{{descr[j+1]}}</h3>
                        <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                        <div class="detail_button"><a href="subpage.html">Detail</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
    {% endfor %}

    {% for j in range(4,8,2) %}
                <h2>{{sub[1]}} Books</h2>

        	<div class="templatemo_product_box">
            	<h1>{{title[j]}}</h1>
         	      <img src="{{imglink[j]}}" alt="image" />
                <div class="product_info">
                	<p>{{title[j]}}</p>
                  <h3>{{descr[j]}}</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                    <h1>{{title[j+1]}}</h1>
                       <img src="{{imglink[j+1]}}" alt="image" />
                    <div class="product_info">
                        <p>{{title[j+1]}}</p>
                      <h3>{{descr[j+1]}}</h3>
                        <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                        <div class="detail_button"><a href="subpage.html">Detail</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
    {% endfor %}

    {% for j in range(8,12,2) %}
                <h2>{{sub[2]}} Books</h2>

        	<div class="templatemo_product_box">
            	<h1>{{title[j]}}</h1>
         	      <img src="{{imglink[j]}}" alt="image" />
                <div class="product_info">
                	<p>{{title[j]}}</p>
                  <h3>{{descr[j]}}</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                    <h1>{{title[j+1]}}</h1>
                       <img src="{{imglink[j+1]}}" alt="image" />
                    <div class="product_info">
                        <p>{{title[j+1]}}</p>
                      <h3>{{descr[j+1]}}</h3>
                        <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                        <div class="detail_button"><a href="subpage.html">Detail</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
    {% endfor %}

    {% for j in range(12,16,2) %}
                <h2>{{sub[3]}} Books</h2>

        	<div class="templatemo_product_box">
            	<h1>{{title[j]}}</h1>
         	      <img src="{{imglink[j]}}" alt="image" />
                <div class="product_info">
                	<p>{{title[j]}}</p>
                  <h3>{{descr[j]}}</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
                    <h1>{{title[j+1]}}</h1>
                       <img src="{{imglink[j+1]}}" alt="image" />
                    <div class="product_info">
                        <p>{{title[j+1]}}</p>
                      <h3>{{descr[j+1]}}</h3>
                        <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                        <div class="detail_button"><a href="subpage.html">Detail</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
    {% endfor %}

            
            <a href="subpage.html"><img src="../static/images/book1.gif" alt="ads" height="200px" width="100%"/></a>
        </div> <!-- end of content right -->
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <div id="templatemo_footer">
    
	    <a href="subpage.html">Home</a> | <a href="subpage.html">Search</a> | <a href="subpage.html">Books</a> | <a href="#">devloped by</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
        <a href="#">Salman jayansh & manoj<br><strong>Want to reed</strong></a> 
        </div> 
</div> <!-- end of container -->

 

</body>
</html>