<!DOCTYPE html>
<head>
<title>Book Store</title>
<link href="../static/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="#" class="current">Search</a></li>
            <li><a href="indexfinal.html">Books</a></li>            
            <li><a href="indexfinal.html">New Releases</a></li>  
            <li><a href="#">Company</a></li> 
            <li><a href="#">Contact</a></li>
            <li><a href="{{url_for('mybooks')}}">MyBooks</a></li> 
            <li><a href="{{url_for('logout')}}">Logout</a></li>            


    	</ul>
    </div> <!-- end of menu -->
    
    <!-- <div id="templatemo_header">
    	<div id="templatemo_special_offers">
        	<p>
                <span>25%</span> discounts for
        purchase over $ 40
        	</p>
			<a href="#" style="margin-left: 50px;">Read more...</a>
        </div>
        
        
        <div id="templatemo_new_books">
        	<ul>
                <li>Suspen disse</li>
                <li>Maece nas metus</li>
                <li>In sed risus ac feli</li>
            </ul>
            <a href="#" style="margin-left: 50px;">Read more...</a>
        </div>
    </div> <!-- end of header -->
    
    <div id="templatemo_content">
    	
        <div id="templatemo_content_left">
        	<div class="templatemo_content_left_section">
                <form action="{{url_for('search')}}" method="post">
                        <input id="title" name="tit" placeholder="Title">
                        <button id="button" type="submit">Click Me</button>
                </form>
            </div>
			<div class="templatemo_content_left_section">
            	
            </div>
            
            <div class="templatemo_content_left_section">                
                </div>
        </div> 
        
        <div id="templatemo_content_right">
            {% for i in range(0,3) %}
        	
            <h1>{{title[i]}}</h1>
            <div class="image_panel"><img src="{{imglink[i]}}" alt="Book cover" width="100" height="150" /></div>
          
            <ul>
                <li>Authors:- 
            {% for auth in author[i] %}
                <span>{{auth}} </span>
            {% endfor %}
                </li>
                <li><form action="{{url_for('details')}}" method="post">
                    <input type="text" value="{{isbn10[i]}}" name="isbn" style="display:none">
                    <button  type="submit" >Details</button>
                </form></li>
            </ul>
             <div class="cleaner_with_height">&nbsp;</div>
            {% endfor %}
             <a href="subpage.html"><img src="../static/images/book1.gif" alt="ads" height="200px" width="100%"/></a>
            </div> <!-- end of content right -->
        
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <div id="templatemo_footer">
    
        <a href="subpage.html">Home</a> | <a href="subpage.html">Search</a> | <a href="subpage.html">Books</a> | <a href="#">devloped by</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
     <a href="#">Salman jayansh & manoj<br><strong>Want to reed</strong></a> 
     </div>
</div> 
</body>
</html>